html,
body {
    width: 100%;
    height: fit-content;
    background: rgb(37, 41, 49);

    font-family: 'Times New Roman', Times, serif;
    color: white;

    overflow-x: hidden;
    scroll-behavior: smooth;
}

p {
    font-size: large;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    border: none;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    margin-top: 40px;
}

strong {
    text-decoration: underline;
}

#menu-bar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: fit-content;
    height: fit-content;
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid white;
    border-radius: 20px;
    box-shadow:
        0 0 16px rgba(255, 255, 255, 0.6),
        0 0 24px rgba(255, 255, 255, 0.4);

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#menu-bar a {
    margin-left: 10px;
    margin-right: 10px;
}

#content {
    width: 60%;
    margin: 0 auto 0;
}

#content-space {
    width: 100%;
    height: 40px;
}

#home #profile {
    float: left;
    width: 400px;
    aspect-ratio: auto;
    border-radius: 20px;

    margin-right: 20px;
}

.space {
    width: 100%;
    height: 60px;
}

.item {
    margin-bottom: 20px;
}

.item .subtitle,
.item .meta {
    display: flex;
    justify-content: space-between;
}

.item .meta {
    font-style: italic;
    margin-bottom: -10px;
}

.item .name {
    max-width: 70%;
    font-weight: bold;
}