body {
    font-family: 'Cormorant Garamond', Garamond, serif;
    font-size: large;
    color: rgb(43, 34, 29); 
    transition: text-shadow 0.3s ease-in-out;

    margin: 0; 
    height: auto; 
    display: flex; 
    flex-direction: column; 
    /* overflow: hidden;  */
    overflow-y: auto;
}

body::before {
    content: "";

    background-image: url("imgs/gallery/000039640021.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 0.2;
    z-index: -1;
}

a {
    color: inherit; 
    text-decoration: none; 

    transition: text-shadow 0.3s ease-in-out;
}

a:hover {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

button {
    background: none;
    border: none;

    font: inherit;
    color: inherit;

    padding-left: 10pt;
    padding-right: 10pt;

    transition: text-shadow 0.3s ease-in-out;
    cursor: pointer;
}

button:hover {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

hr {
    color: rgb(43, 34, 29, 0.3); 
    margin-top: 20pt;
    margin-bottom: 20pt;
}

img, iframe {
    max-width: 95%;
    max-height: 300pt;
    margin-top: 15pt;
    margin-left: 5pt;
    
    border: solid 1px rgba(43, 34, 29, 0.3); 
    border-radius: 20pt;
    box-shadow: 0 0 3px 3px rgba(43, 34, 29, 0.3); 
}

.skill {
    background: none;
    border: none;

    font: inherit;
    color: inherit;

    margin-top: 5pt;

    border: solid 1px rgb(43, 34, 29); 
    border-radius: 20px; 
}