---
layout: default
refactor: true
---

<h2>Welcome to my personal website!</h2>

<p>
  Hello! I’m <strong>Yuxuan Zhang</strong>, and I recently completed a
  <strong>Graduate Diploma in System Analysis</strong> at the
  <strong>National University of Singapore (NUS)</strong>. Before that, I earned
  my
  <strong>Bachelor’s degree in Intelligent Test & Control Engineering</strong>
  from <strong>Harbin Institute of Technology (HIT)</strong> in 2024. I have a
  strong passion for
  <strong
    >embedded systems, computer vision, robotics, and human-computer
    interaction</strong
  >, and I enjoy working at the intersection of hardware and software.
</p>

<p>
  I’m proficient in
  <strong>Python, C++, Java, C, Swift, and JavaScript</strong>, and have
  experience with
  <strong>React.js, Spring Boot, SQL, Docker, AWS, and more</strong>. Over the
  years, I’ve worked on projects ranging from web and mobile applications to
  AI-driven embedded systems.
</p>

<p>
  Right now, I’m looking forward to starting my
  <strong>Master’s in Artificial Intelligence System</strong> this August while
  also preparing to apply for a <strong>PhD</strong>. If you’re interested in
  AI, robotics, or just tech in general, feel free to connect!
</p>
