---
layout: page
# All the Tags of posts.
---

<div class="container mt-5">
  <div class="work-section">
    <h3>R&D Intern - Automated Rust Removal System</h3>
    <div class="d-flex justify-content-between">
      <p>
        <strong
          >Changjiang Intelligent Control Technology Group (Wuhan) Co.,
          LTD.</strong
        >, Wuhan, Hubei, China
      </p>
      <p>July 2021 – Aug 2021</p>
    </div>
    <ul>
      <li>
        <strong>Hardware:</strong> Implemented stereo vision for 3D point cloud
        modeling, a laser robotic arm for rust removal, and a conveyor belt
        system for automated steel transport.
      </li>
      <li>
        <strong>Software:</strong> Utilized OpenCV for stereo image alignment,
        PCL for point cloud processing, A* with smoothing for robotic arm path
        planning, and color recognition for rust removal effect detection.
      </li>
      <li>
        <strong>Outcome:</strong> Designed an automated steel rust removal
        system.
      </li>
    </ul>
  </div>

  <hr />

  <div class="work-section">
    <h3>Game Effects Intern</h3>
    <div class="d-flex justify-content-between">
      <p>
        <strong>Boke Technology Group (Wuhan) Co., LTD.</strong> – Wuhan, Hubei,
        China
      </p>
      <p>Jan 2021 – Feb 2021</p>
    </div>
    <ul>
      <li>
        <strong>Software:</strong> Developed C# scripts in Unity for custom
        shaders and basic user interaction.
      </li>
      <li>
        <strong>Other:</strong> Created game effects using Unity’s particle
        system, keyframe animations in Photoshop, and 3D models in Blender.
      </li>
      <li>
        <strong>Outcome:</strong> Gained a comprehensive understanding of game
        effect production in Unity.
      </li>
    </ul>
  </div>
</div>
